{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-danger"><i class="fas fa-anchor"></i> Test bootstrap and fontawesome</h1>
        <a href="{{ path('api_doc') }}" class="btn btn-outline-dark">API</a>
    </main>

{% endblock %}
