@import "variables";

html {
  overflow-x: hidden;
  body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(152,152,152,0.54);
    overflow-x: hidden;
    a {
      text-decoration: none;
      color: #000000;
      transition: all 0.4s ease;
    }

    .logoText {
      font-family: 'Expletus Sans', 'Calibri', sans-serif;
      text-transform: uppercase;
      padding-left: 1rem;
    }

    .logoText-green {
      color: $default-green;
    }

    .logoText-pink {
      color: $default-pink;
    }

    .titleDarkGrey {
      color : $default-grey;
    }
  }
}